.fixedbar{
    overflow: auto;
    height: 100vh;
    position: fixed;
    left: 0;
    top:80px;
    background-color: white;
}

.Normalsidebar{
    overflow: auto;
    height: 100vh;
    position: absolute;
    left: 0;
    top:80px;
    background-color: white;
}

@media screen and (max-width: 920px) {

    .fixedbar , .Normalsidebar {
        display: none;
    }
}
